{% extends 'base.html.twig' %}

{% block title %}Advert index{% endblock %}

{% block body %}
    <h1>Advert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                 <th>Category</th>
                <th>Content</th>
                <th>Author</th>
                <th>Email</th>
                <th>Pictures numbers</th>
                <th>Price</th>
                <th>State</th>
                <th>CreatedAt</th>
                <th>PublishedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advert in advertsPages %}
            <tr>
                <td>{{ advert.id }}</td>
                <td>{{ advert.title }}</td>
                <td>{{ advert.getCategory().getName()}}</td>
                <td>{{ advert.content }}</td>
                <td>{{ advert.author }}</td>
                <td>{{ advert.email }}</td>
                <td>{{ advert.pictures|length }}</td>
                <td>{{ advert.price }}</td>
                <td>{{ advert.state }}</td>
                <td>{{ advert.createdAt ? advert.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ advert.publishedAt ? advert.publishedAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_advert_show', {'id': advert.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_advert_new') }}">Create new</a>
{% endblock %}
