{% extends 'base.html.twig' %}

{% block title %}Advert{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .table img {
            max-height: 60px;
            width: auto; 
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Advert</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ advert.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ advert.content }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ advert.author }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ advert.email }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ advert.price }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ advert.state }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ advert.createdAt ? advert.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ advert.publishedAt ? advert.publishedAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>
                    {% for picture in advert.pictures %}
                        <img src="{{  (asset( picture.path))  }}" alt="Picture"> 
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if advert.state == 'draft' %}
        <form action="{{ path('app_advert_publish', {'id': advert.id}) }}" method="post">
            <button type="submit">Publish</button>
        </form>
        <form action="{{ path('app_advert_reject', {'id': advert.id}) }}" method="post">
            <button type="submit">Reject</button>
        </form>
    {% elseif advert.state == 'published' %}
        <form action="{{ path('app_advert_reject', {'id': advert.id}) }}" method="post">
            <button type="submit">Reject</button>
        </form>
    {% endif %}

    <a href="{{ path('app_advert_index') }}">back to list</a>

    <a href="{{ path('app_advert_edit', {'id': advert.id}) }}">edit</a>

    {{ include('advert/_delete_form.html.twig') }}
{% endblock %}
